/*index know more*/
 .head{
 
 }
.habitat{
	margin-top:3px;
	margin-bottom:3px;
	
	background-color:#E4B10D;
}
.knowmore{
background-color:#E4B10D;
width:1500px;
}

.mesaure{
background-color:#D0D3D4;
height:300px;	
}
/*----------------about them---------------*/
.about{
text-align:centre;
	
}